<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br>
        <br>

        <iframe width="540" height="540" src="http://embed.acast.com/ft-news/whatdoukvotersrememberfromtheelectionmanifestos-" scrolling="no" frameborder="0" style="border:none;overflow:hidden;"></iframe>
      </p>
    </div>
  </div>

  <div ng-repeat="question in questions">
    <div class="animate-reveal"
        ng-controller="QuestionCtrl"
        ng-show="$index <= currentQuestion.value"
        ng-cloak>

      <div class="o-grid-row">
        <div data-o-grid-colspan="12 M8 L6 center">
          <h2 style="text-align: center">Question {{$index + 1}} of {{questions.length}}</h2>
        </div>
      </div>

      <div class="o-grid-row">
        <div data-o-grid-colspan="12 M8 center">
          <div class="o-grid-row">
            <div data-o-grid-colspan="12 L6" class="quiz-image">
              <img alt="" ng-src="{{questions[$index].imgurl}}" style="width: 100%">

              <div class="o-typography-caption">
                {{questions[$index].imgcredit}}
              </div>
            </div>

            <div data-o-grid-colspan="12 L6">
              <p ng-bind-html="questions[$index].question"></p>

              <div class="answer-controls"
                  ng-repeat="choice in choices[$index]">
                <button class="o-buttons o-buttons--big o-buttons--standout"
                    ng-click="submitAnswer()"
                    ng-class="{correct: answerSubmitted && choice === correctAnswer, incorrect: answerSubmitted && choice != correctAnswer}"
                    ng-disabled="answerSubmitted">

                  {{choice}}

                  <div style="float: right; padding-right: 10px">
                    <i class="icon-tick" style="position: absolute"
                        ng-show="answerSubmitted && choice === userAnswer && choice === correctAnswer"></i>
                    <i class="icon-cross" style="position: absolute"
                        ng-show="answerSubmitted &&  choice === userAnswer && choice != correctAnswer"></i>
                  </div>
                </button>
              </div>
            <!-- /data-o-grid-colspan -->
            </div>
          <!-- /o-grid-row -->
          </div>
        </div>
      </div>

      <div class="o-grid-row animate-reveal"
          ng-show="answerSubmitted">
        <div data-o-grid-colspan="12 M8 L6 center">
          <div style="text-align: center">
            <i class="icon-arrow-down"></i>
          </div>

          <p>
            {{questions[$index].answercopy}}
          </p>

          <div data-o-component="o-aside-panel" class="o-aside-panel">
            <div class="o-aside-panel__header">
              <h3 class="o-aside-panel__heading">More on this story</h3>
            </div>

            <div class="o-aside-panel__body">
              <a href="{{questions[$index].linkurl}}" target="_blank">{{questions[$index].linktext}}</a>
            </div>
          </div>
        <!-- /data-o-grid-colspan -->
        </div>
      </div>

      <div class="splash animate-splash"
          ng-class="{correct: isCorrect, incorrect: !isCorrect}"
          ng-show="showSplash">
        <div class="o-big-number__title animate-splash"
            ng-show="answerSubmitted && isCorrect">
          Correct

          <div>
            <i class="icon-thumb-up"></i>
          </div>
        </div>

        <div class="o-big-number__title animate-splash"
            ng-show="answerSubmitted && !isCorrect">
          Incorrect

          <div>
            <i class="icon-thumb-down"></i>
          </div>
        </div>
      </div>
    <!-- /ng-controller -->
    </div>
  <!-- /ng-repeat -->
  </div>

  <!-- Results -->
  <div ng-show="quizStatus.isOver">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="margin-top: 6px; text-align: center">
        <h2 class="o-typography-header-2">Your result: {{message.text}}</h2>
      </div>
    </div>

    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="max-height: 200px; margin-top: 4px; text-align: center">
        <svg version="1.1" baseprofile="full" xmlns="http://www.w3.org/2000/svg" width="200" height="200" id="radial-gauge">
          <circle id="total"></circle>
          <circle id="score"></circle>
        </svg>

        <div class="o-big-number__title gauge" style="text-align: center">
          <span>{{userScore.value}}</span><span>/{{questions.length}}</span>
        </div>
      </div>
    </div>

    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="margin-top: 0.5em; margin-bottom: 0.8em; text-align: center">
        <div class="answer-controls">
          <button class="o-buttons o-buttons--big o-buttons--standout tweet-result"
              ng-disabled="!quizStatus.isOver"
              socialshare
              socialshare-provider="twitter"
              socialshare-text="I just scored {{userScore.value}}/{{questions.length}} on the @FT #GE2017 manifestos quiz! Test your knowledge: "
              socialshare-url="https://ig.ft.com/ge17/party-manifesto-quiz/"
              socialshare-via="FT">
            <i class="fa fa-twitter"></i>

            Tweet your score
          </button>
        </div>
      </div>
    </div>

    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center">
        <div data-o-component="o-aside-panel" class="o-aside-panel" style="margin-top: 4px">
          <div class="o-aside-panel__header">
            <h3 class="o-aside-panel__heading">Featured in this quiz</h3>
          </div>

          <div class="o-aside-panel__body">
            <ol style="font-size: 16px; font-weight: 400">
              <li ng-repeat="question in questions">
                <a href="{{question.linkurl}}" target="_blank">{{question.linktext}}</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <!-- /ng-show -->
  </div>
</div>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-big-number@^1.1.3', true, true)</script>
